{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="col-sm-12" style="display: flex;align-items: center;justify-content: center">

    {{ form_widget(form.photo) }}
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
