{% extends 'base.html.twig' %}

{% block title %}Manage Users{% endblock %}

{% block body %}













    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://kit.fontawesome.com/165c102389.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ asset('dashboard/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('dashboard/css/dataTables.bootstrap5.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('dashboard/css/style.css') }}"/>
        <title>Dashboard</title>
    </head>
    <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                    aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#" style="color: white;">
                <img height="40" weight="40" src="{{ asset('pictures/logo.png') }}">

                ESTN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
                    aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavBar">
                <form class="d-flex ms-auto my-3 my-lg-0" method="post" action="{{ path('search') }}">
                    <div class="input-group">
                        <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search"/>

                        <button class="btn btn-primary" style="background-color: white ; border-color: white"
                                type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img height="30" weight="30" src="{{ asset('pictures/admin.png') }}">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{{ path('home') }}">User mode</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href=""></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href=""></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path( 'app_logout') }} ">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">

                    <li>
                        <a href="{{ path('app_admin') }}" class="nav-link px-3 active">

							<span class="me-2">
								<i class="bi bi-speedometer2"></i>
							</span>
                            <span> <br/> Dashboard</span>
                        </a>
                    </li>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light"/>
                    </li>

                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts">
							<span class="me-2">
								<i class="bi bi-layout-split"></i>
							</span>
                            <span>Manage</span>
                            <span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
                        </a>
                        <div class="collapse" id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="{{ path('users_list') }}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                        <span>Users</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                        <span>News</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                        <span>Events</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse" id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                        <span>Scrims</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </li>

                    <li class="my-4">
                        <hr class="dropdown-divider bg-light"/>
                    </li>

                    <div class="collapse" id="layouts">
                        <ul class="navbar-nav ps-3">
                            <li>
                                <a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                    <span><a href="{{ path('adminRegister') }}"> <i style="color: white" class="fas fa-plus"></i>  <span style="color: white">Add admin</span> </a></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </ul>
            </nav>
        </div>
    </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">

        {{ form_start(formAdmin,{'attr': {'novalidate': 'novalidate'} } ) }}


        {{ form_row(formAdmin.email ,{'attr': {'class': 'form-control'} }) }}


        {{ form_row(formAdmin.username ,{'attr': {'class': 'form-control'} }) }}
        {{ form_row(formAdmin.plainPassword ,{'attr': {'class': 'form-control'} }) }}


        <br/>
        <center>
            <button style="background-color: #42060C ; border-color: #42060C" type="submit"
                    class="btn btn-lg btn-primary">Add Admin
            </button>
            <br/>
        </center>
        </div>
        {{ form_end(formAdmin) }}


    </main>
    <script src="{{ asset('dashboard/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('dashboard/js/jquery-3.5.1.js') }}"></script>
    <script src="{{ asset('dashboard/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dashboard/js/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('dashboard/js/script.js') }}"></script>
    !-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
    <!-- Include Flashy default partial -->

    </body>


    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}


{% endblock %}