



<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{{ asset('https://kit.fontawesome.com/165c102389.js')}}" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ asset('dashboard/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('dashboard/css/dataTables.bootstrap5.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('dashboard/css/style.css') }}"/>
    <title>Dashboard</title>
</head>
<body>


<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#" style="color: white;">
            <img height="40" weight="40" src="{{asset('pictures/logo.png')}}">
            ESTN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
            <form class="d-flex ms-auto my-3 my-lg-0">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-primary" style="background-color: white ; border-color: white" type="submit" >
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-shield"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="">User mode</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href=" ">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- top navigation bar -->
<!-- offcanvas -->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">

            <ul class="navbar-nav">
                <li>
                    <a href="{{ asset("/dashboard")}}" class="nav-link px-3 active">
							<span class="me-2">
								<i class="bi bi-speedometer2"></i>
							</span>
                        <span>
								<br /> Dashboard</span>
                    </a>
                </li>
                <li class="my-4"><hr class="dropdown-divider bg-light"/></li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts">
							<span class="me-2">
								<i class="bi bi-layout-split"></i>
							</span>
                        <span>Manage</span>
                        <span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
                    </a>
                    <div class="collapse" id="layouts">
                        <ul class="navbar-nav ps-3">

                        </ul>
                    </div>
                    <div class="collapse" id="layouts">
                        <ul class="navbar-nav ps-3">
                            <li>
                                <a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                    <span>News</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse" id="layouts">
                        <ul class="navbar-nav ps-3">
                            <li>
                                <a href="" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                    <span>Events</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="collapse" id="layouts">
                        <ul class="navbar-nav ps-3">
                            <li>
                                <a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                    <span>Scrims</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse" id="layouts">
                        <ul class="navbar-nav ps-3">
                            <li>
                                <a href="{{ asset('/afficher')}}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                    <span>Produit</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse" id="layouts">
                        <ul class="navbar-nav ps-3">
                            <li>
                                <a href="{{ asset('/afficherc')}}" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-speedometer2"></i>
										</span>
                                    <span>Categorie</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </li>

                <li class="my-4"><hr class="dropdown-divider bg-light"/></li>

                <li>
                    <a href="#" class="nav-link px-3">
							<span class="me-2">
								<i class="bi bi-graph-up"></i>
							</span>
                        <i class="fas fa-plus"></i>
                        <span>Add admin</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>
<!-- offcanvas -->

{% block body %}

    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ADD CATEGORIE</h5>

                    <!-- General Form Elements -->
                    {{ form_start(formc,{attr:{novalidate:'novalidate'}}) }}
                    <label for="inputText" class="col-sm-5 col-form-label">NOM</label>
                    <div class="col-sm-10">
                        {{ form_widget(formc.nomCategorie,{'attr':{'class':'form-control'}}) }}

                        {{ form_errors(formc.nomCategorie,{'attr':{'class':'form-danger'}}) }}

                    </div>


                    <label for="inputText" class="col-sm-5 col-form-label">Quantite</label>
                    <div class="col-sm-10">
                        {{ form_widget(formc.quantite,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(formc.quantite,{'attr':{'class':'form-danger'}}) }}

                    </div>



                    <br/>
                    <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

                        {{ form_widget(formc.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                    </div>


                    {{ form_end(formc) }}

                    <a href="{{ '/afficherc' }}" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to category list</a>


                </div>
            </div>

        </div>

    </div>










{% endblock %}

</div>

</main>
<script src="{{ asset('dashboard/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('dashboard/js/jquery-3.5.1.js') }}"></script>
<script src="{{ asset('dashboard/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('dashboard/js/dataTables.bootstrap5.min.js') }}"></script>
<script src="{{ asset('dashboard/js/script.js') }}"></script>

</body>

